[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=it5_dev
WorkingDirectory=/home/it5_dev/sites/SITENAME/source
ExecStart=/home/it5_dev/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target
